.card {
  height: 100%;
}
.title-text{
  color: #ec1111;
  font-weight: bold;
}
.card-img-top {
  width: 100%;
  height: 300px; /* Set a fixed height for the images */
  object-fit: cover;
}

.card-title {
  white-space: nowrap;
  color: #ec1111;
  font-weight: bold;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text {
  font-size: 1.2rem;
  color: #333;
}

.btn {
  margin-top: 1rem;
}

